spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: moving-out-common
  config:
    activate:
      on-profile: default
  datasource:
    url: jdbc:oracle:thin:@localhost:1521:XE # 오라클 서버(로컬 포트) 를 지정합니다.
    username: system  # 오라클 서버 유저에 맞게 설정해주세요
    password: oracle  # 비밀번호도 맞게 설정해주세요.
    driverClassName: oracle.jdbc.driver.OracleDriver

  jpa:
    hibernate:
      ddl-auto: create
#      naming:
#        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
#        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.Oracle10gDialect
        format_sql: true
    database-platform: org.hibernate.dialect.Oracle10gDialect